body {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
  }

  #gtco-footer .gtco-footer-subscribe .form-control {
    background: #fff !important;
    border: none !important;
  }


  .form-control {
    background: 0 0;
    border: 2px solid rgba(0, 0, 0, .1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
  }

  .form-group {
    position: relative;
    
  }

  btn-primary {}

  .btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    background: #17B794;
    color: #fff;
    border: 2px solid #17B794 !important;
    border-radius: 0;
    letter-spacing: 2px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    padding: 20px 30px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
  }

  .form-control {
    width: 100%;
    height: 42px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }



  html {
    width: 100%;
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 25px;
  }

  @media (min-width: 768px) {
    p {
      font-size: 18px;
      line-height: 1.6;
      margin: 0 0 35px;
    }
  }

  a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #42DCA3;
  }

  a:focus,
  a:hover {
    text-decoration: none;
    color: #1d9b6c;
  }

  #mainNav {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: black;
  }

  #mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: white;
    border: 1px solid white;
  }

  #mainNav .navbar-brand {
    font-weight: 700;
  }

  #mainNav a {
    color: white;
  }

  #mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }

  #mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
  }

  #mainNav .navbar-nav .nav-item:active,
  #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
  }

  @media (min-width: 992px) {
    #mainNav {
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      letter-spacing: 1px;
      border-bottom: none;
      background: transparent;
    }
    #mainNav.navbar-shrink {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      background: black;
    }
    #mainNav .nav-link.active {
      outline: none;
      background-color: rgba(255, 255, 255, 0.3);
    }
    #mainNav .nav-link.active:hover {
      color: white;
    }
  }

  .masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: white;
    background: url("star.jpg") no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .masthead .intro-body {
    display: table-cell;
    vertical-align: middle;
  }

  .masthead .intro-body .brand-heading {
    font-size: 50px;
  }

  .masthead .intro-body .intro-text {
    font-size: 18px;
  }

  @media (min-width: 768px) {
    .masthead {
      height: 100%;
      padding: 0;
    }
    .masthead .intro-body .brand-heading {
      font-size: 100px;
    }
    .masthead .intro-body .intro-text {
      font-size: 22px;
    }
  }

  .btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
  }

  .btn-circle:focus,
  .btn-circle:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
  }

  .content-section {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .download-section {
    color: white;
    background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #map {
    width: 100%;
    height: 300px;
  }

  @media (min-width: 992px) {
    .content-section {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    #map {
      height: 350px;
    }
  }

  .btn {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0;
  }

  .btn-default {
    color: #42DCA3;
    border: 1px solid #42DCA3;
    background-color: transparent;
  }

  .btn-default:focus,
  .btn-default:hover {
    color: black;
    border: 1px solid #42DCA3;
    outline: none;
    background-color: #42DCA3;
  }

  ul.banner-social-buttons {
    margin-top: 0;
  }

  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      margin-top: 15px;
    }
  }

  @media (max-width: 767px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
    }
    ul.banner-social-buttons li:last-child {
      margin-bottom: 0;
    }
  }

  body {
    font-family: Lora, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000
  }

  html {
    width: 100%;
    height: 100%
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 35px;
    letter-spacing: 1px;
    text-transform: uppercase
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 25px
  }

  @media (min-width:768px) {
    p {
      font-size: 18px;
      line-height: 1.6;
      margin: 0 0 35px
    }
  }

  a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #42dca3
  }

  a:focus,
  a:hover {
    text-decoration: none;
    color: #1d9b6c
  }

  #mainNav {
    font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: #000
  }

  #mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: #fff;
    border: 1px solid #fff
  }

  #mainNav .navbar-brand {
    font-weight: 700
  }

  #mainNav a {
    color: #fff
  }

  #mainNav .navbar-nav .nav-item {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out
  }

  #mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: 0;
    background-color: transparent
  }

  #mainNav .navbar-nav .nav-item:active,
  #mainNav .navbar-nav .nav-item:focus {
    outline: 0;
    background-color: transparent
  }

  @media (min-width:992px) {
    #mainNav {
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
      -moz-transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
      transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
      letter-spacing: 1px;
      border-bottom: none;
      background: 0 0
    }
    #mainNav.navbar-shrink {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, .3);
      background: #000
    }
    #mainNav .nav-link.active {
      outline: 0;
      background-color: rgba(255, 255, 255, .3)
    }
    #mainNav .nav-link.active:hover {
      color: #fff
    }
  }

  .masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
  }

  .masthead .intro-body {
    display: table-cell;
    vertical-align: middle
  }

  .masthead .intro-body .brand-heading {
    font-size: 50px
  }

  .masthead .intro-body .intro-text {
    font-size: 18px
  }

  @media (min-width:768px) {
    .masthead {
      height: 100%;
      padding: 0
    }
    .masthead .intro-body .brand-heading {
      font-size: 100px
    }
    .masthead .intro-body .intro-text {
      font-size: 22px
    }
  }

  .btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100% !important;
    background: 0 0
  }

  .btn-circle:focus,
  .btn-circle:hover {
    color: #fff;
    outline: 0;
    background: rgba(255, 255, 255, .1)
  }

  .content-section {
    padding-top: 150px;
    padding-bottom: 150px
  }

  .download-section {
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
  }

  #map {
    width: 100%;
    height: 300px
  }

  @media (min-width:992px) {
    .content-section {
      padding-top: 200px;
      padding-bottom: 200px
    }
    #map {
      height: 350px
    }
  }

  .btn {
    font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0
  }

  .btn-default {
    color: #42dca3;
    border: 1px solid #42dca3;
    background-color: transparent
  }

  .btn-default:focus,
  .btn-default:hover {
    color: #000;
    border: 1px solid #42dca3;
    outline: 0;
    background-color: #42dca3
  }

  ul.banner-social-buttons {
    margin-top: 0
  }

  @media (max-width:1199px) {
    ul.banner-social-buttons {
      margin-top: 15px
    }
  }

  @media (max-width:767px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0
    }
    ul.banner-social-buttons li:last-child {
      margin-bottom: 0
    }
  }

  footer {
    padding: 50px 0
  }

  footer p {
    font-size: 14px;
    margin: 0
  }

  ::-moz-selection {
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
    text-shadow: none
  }

  ::selection {
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
    text-shadow: none
  }

  img::selection {
    background: 0 0
  }

  img::-moz-selection {
    background: 0 0
  }

  footer {
    padding: 50px 0;
  }

  footer p {
    font-size: 14px;
    margin: 0;
  }

  ::-moz-selection {
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
    text-shadow: none;
  }

  ::selection {
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
    text-shadow: none;
  }

  img::selection {
    background: transparent;
  }

  img::-moz-selection {
    background: transparent;
  }

  body {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    position: relative;

    width: 100%;
    height: 100%;

    color: white;
    background-color: black;
  }

  html {
    width: 100%;
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;

    margin: 0 0 35px;

    letter-spacing: 1px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    line-height: 1.5;

    margin: 0 0 25px;
    @media(min-width: 768px) {
      font-size: 18px;
      line-height: 1.6;

      margin: 0 0 35px;
    }
  }

  a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    color: #42DCA3;
    &:focus,
    &:hover {
      text-decoration: none;

      color: darken(#42DCA3;
      , 20%);
    }
  }

  #mainNav {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    margin-bottom: 0;

    text-transform: uppercase;

    border-bottom: 1px solid fade-out(white, .7);
    background-color: black;
    .navbar-toggler {
      font-size: 14px;

      padding: 11px;

      color: white;
      border: 1px solid white;
    }
    .navbar-brand {
      font-weight: 700;
    }
    a {
      color: white;
    }
    .navbar-nav {
      .nav-item {
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;
        &:hover {
          color: fade(white, 80%);
          outline: none;
          background-color: transparent;
        }
        &:active,
        &:focus {
          outline: none;
          background-color: transparent;
        }
      }
    }
    @media(min-width:992px) {
      padding-top: 20px;
      padding-bottom: 20px;

      -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      letter-spacing: 1px;

      border-bottom: none;
      background: transparent;
      &.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;

        border-bottom: 1px solid fade-out(white, .7);
        background: black;
      }
      .nav-link.active {
        outline: none;
        background-color: rgba(white, .3);
        &:hover {
          color: white;
        }
      }
    }
  }

  .masthead {
    display: table;

    width: 100%;
    height: auto;
    padding: 200px 0;

    text-align: center;

    color: white;
    background: url('night3.jpg') no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .intro-body {
      display: table-cell;

      vertical-align: middle;
      .brand-heading {
        font-size: 50px;
      }
      .intro-text {
        font-size: 18px;
      }
    }
    @media(min-width:768px) {
      height: 100%;
      padding: 0;
      .intro-body {
        .brand-heading {
          font-size: 100px;
        }
        .intro-text {
          font-size: 22px;
        }
      }
    }
  }

  .btn-circle {
    font-size: 26px;

    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;

    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;

    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
    &:focus,
    &:hover {
      color: white;
      outline: none;
      background: fade-out(white, .9);
    }
  }

  .content-section {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .download-section {
    color: white;
    background: url('star.jpg') no-repeat center center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #map {
    width: 100%;
    height: 300px;
  }

  @media(min-width:992px) {
    .content-section {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    #map {
      height: 350px;
    }
  }

  .btn {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;

    padding: 15px 30px;
    border-radius: 0;
  }

  .btn-default {
    color: #42DCA3;
    border: 1px solid #42DCA3;
    background-color: transparent;
    &:focus,
    &:hover {
      color: black;
      border: 1px solid #42DCA3;
      outline: none;
      background-color: #42DCA3;
    }
  }

  ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width: 1199px) {
      margin-top: 15px;
    }
    @media(max-width:767px) {
      li {
        display: block;

        margin-bottom: 20px;
        padding: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  footer {
    padding: 50px 0;
    p {
      font-size: 14px;

      margin: 0;
    }
  }

  ::-moz-selection {
    background: #fcfcfc;
    background: fade-out(white, .8);
    text-shadow: none;
  }

  ::selection {
    background: #fcfcfc;
    background: fade-out(white, .8);
    text-shadow: none;
  }

  img::selection {
    background: transparent;
  }

  img::-moz-selection {
    background: transparent;
  }


  #d {
    margin-top: -8px;
  }

  .clearfix {
    clear: both;
    width: 100%;

  }

  .left,
  .date,
  .right {
    float: left;
    width: 33%;
    height: 35px;
    margin: 0 auto;
    padding: 0;
  }

  .date {
    border-top: 3px solid #FFFFFF;
    border-top: -220px;

    text-align: center;

    position: relative;
    top: -50px;
    color: #FFFFFF;
    font-size: 18pt;

  }

  .btn-primary {

    position: relative;
    left: 50px;
  }

  input[type=text] {
    width: 600px;
  }

  .temp {
    width: 50%;
    font-family: sans-serif;
    font-size: 25px;
    padding: 10px;
    color: #FFFFFF;
    margin: 5px 0;
  }



  * {
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
  }

  html,
  body {
    height: 100%;

    background-size: cover;
    width: 100%;
    padding: 0;
    margin: 0 auto;

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  a,
  a:focus,
  a:hover {
    color: #fff;
  }

  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }

  @media (min-width: 48em) .masthead-brand {
    float: left;
  }

  .cover {
    padding: 0 1.5rem;
    text-align: center !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;

    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, )
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
  }

  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }

  h3 {
    position: relative;
    top: -60px;
    font-size: 14px;
    font-family: serif;
    color: green;
  }

  .brand-heading {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
  }

  .landing-header {
    width: 100%;
    height: 40vh;
    min-height: 20em;
    max-height: 40em;
    background-image: url("s.jpg");
    background-size: cover;
    background-color: #694387;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



  .wrap {
    position: relative;
    /* left: 900px; */
    top: -520px;
    left: 650px;
  }

  

  .wrapper {

    height: 475px;
    width: 400px;
    right: 250px;
    background: #7abcff;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #7abcff), color-stop(44%, #60abf8), color-stop(100%, #4096ee));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 10px;
    top: calc(50% - 145px);
    left: calc(50% - 200px);
    border: 2px solid #FFFFFF;
    margin-top: 40px;

    padding: 10px 20px;
  }

  #d {
    margin-top: -8px;
  }

  .clearfix {
    clear: both;
    width: 100%;

  }

  .left,
  .date,
  .right {
    float: left;
    width: 33%;
    height: 35px;
    margin: 0 auto;
    padding: 0;
  }

  .date {
    border-top: 3px solid #FFFFFF;
    border-top: -220px;

    text-align: center;

    position: relative;
    top: -50px;
    color: #FFFFFF;
    font-size: 18pt;

  }

  .btn-primary {

    position: relative;
    left: 50px;
    border-radius: 90px;
  }

  .fa {
    position: relative;
    top: -13px;
    left: -10px;
  }

  input[type=text] {
    width: 600px;
  }

  .temp {
    width: 50%;
    font-family: sans-serif;
    font-size: 25px;
    padding: 10px;
    color: #FFFFFF;
    margin: 5px 0;
  }
